nav {
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-evenly; /*middle style */
    justify-content: space-between;

}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* width: 720px; */
    max-width: 720px;
  }

  /* Media query for desktop screens */
@media (min-width: 1024px) {
    .layout {
      width: 720px;
      margin: 0 auto; /* Center the layout horizontally */
    }
  }