.loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spinner {
    max-width: 320px; /* Adjust the size as needed */
    height: auto;
    animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}